* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

#firstTitle  {
    color: #000000;
    font-size: 72px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 37px;
}


#firstContainer {
    width: 568px;
    height: 866px;
    margin-left: 55px;
    margin-top: 37px;
    margin-bottom: 74px;

}

#starynight {
    width: 568px;
    height: 446px;
    margin-left: 55px;
    margin-top: 37px;
    margin-bottom: 12px;
}

#nightmare {
    font-size: 40px;
    color: #000000;
    margin-left: 55px;
    margin-top: 12px;
    margin-bottom: 16px;
    padding-left: 40px;
    padding-right:  40px;
    
}

#firsttext {
    color: #414651;
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 16px;

}

#listContainer {
    color: #155EEF;
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 568px;
    height: 144px;
    margin-top: 16px;
}