* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

#firstTitle  {
    color: #000000;
    font-size: 72px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 37px;
}


#firstContainer {
    width: 568px;
    height: 866px;
    margin-left: 55px;
    margin-top: 37px;
    margin-bottom: 74px;

}

#starynight {
    width: 568px;
    height: 446px;
    margin-left: 55px;
    margin-top: 37px;
    margin-bottom: 12px;
}

#nightmare {
    font-size: 40px;
    color: #000000;
    margin-left: 55px;
    margin-top: 12px;
    margin-bottom: 16px;
    padding-left: 40px;
    padding-right:  40px;
    
}

#firsttext {
    color: #414651;
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 16px;

}

#listContainer {
    color: #155EEF;
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 568px;
    height: 144px;
    margin-top: 16px;
}

#firstBorder {
    color: #CEA201;
    font-size: 24px;
    padding: 12px 32px;
    border: 2px solid #CEA201;
    margin-left: 24px;
    margin-top: 32px;
    margin-bottom: 86px;
    max-width: 177px;
    height: 56px;
}

#secondTitle {
    color: #000000;
    font-size: 40px;
    margin-left: 55px;
    margin-bottom: 16px;
    margin-top: 74px;
    width: 722px;
    height: 48px;
}

#secondText {
    color: #414651;
    font-size: 20px;
    margin-top: 16px;
    margin-left: 55px;
    margin-bottom: 24px;
    max-width: 722px;
    height: 72px;
}

#selectName {
    color: #00C76E;
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 24px;
    margin-left: 130.5px;
    margin-right: 130.5px;
}

#secondListContainer {
    color: #FF5DA3;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: 185.5px;
}

#secondPhoto {
    width: 200px;
    height: 200px;
    margin-left: 55px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#secondBorder {
    color: #414651;
    font-size: 24px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    border: 6px solid #C11574;
    max-width: 722px;
    height: 160px;
    margin-left: 55px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #FFDEF0;
}

#thirdListContainer {
    color: #C27512;
    font-size: 16px;
    padding: 16px;
}

#lastPhoto {
    width: 298.012px;
    height: 396px;
    margin-left: 55px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#link {
    color: #00D4BC;
    font-size: 24px;
    margin-left: 561px;
    margin-bottom: 119px;
    margin-top: 24px;
}